<div class="row bg-white p-5"> 
    <h3>Constat</h3>    
    <p class="line"></p> 
    <p><span>Numéros Contrat:</span> {{user.Nbcontrat}}</p> 
    <p><span>Votre forfait:</span> {{user.Contrat}}</P>   
    <p><span>Permission:</span> {{user.permission}}</P>
    <p class="line"></p> 
    <div class="col-12 col-lg-6 p-5">                    
        <h4>Premier conducteur</h4>
        <p><span>Nom :</span> {{user.nom}}</P>
        <p><span>Prénom:</span> {{user.prenom}} </P>
        <p><span>Email :</span>{{user.email}}</p>
        <P><span>Permis:</span> {{user.nbpermis}}</P>                  
        <p><span>Date de naissance:</span> {{user.age}}</p>
        <p><span>Numéros Téléphone:</span> {{user.numberPhone}}</p><br>                    
        <p><span>Adresse:</span> {{user.adresse}}</P>
        <p><span>Ville:</span> {{user.ville}}</P>
        <p><span>Code Postal: </span>{{user.postal}}</P><br>                                          
        <p><span> Voiture:</span> {{user.marque}}</p>                  
        <p><span> Marque:</span> {{user.modeles}}</p>                  
        <p><span> Type de voiture :</span> {{user.typee}}</p>
        <p><span> Couleur de la voiture :</span> {{user.couleur}}</p>
        <p><span> Plaque de la voiture:</span> {{user.plaque}}</p>
        <p><span> Assurance :</span> Assure Plus</p>
        <p><span> Numéros contrat</span> {{user.Nbcontrat}}</p>                      
    </div>  