{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'index.css' %}"> 
{% endblock head %}

{% block title %}Index{% endblock title %}

{% block content %}
<div class="top">
    <div id="trait_dessus"></div>
        <h1>Assure<span class="rouge">Plus</span></h1>
    <div id="trait_dessus"></div> 
    <br>
        <p>Parce que vous avez besoin d'une assurance avec plus de confiance </p>
</div>
<div class="top1">    
    <h5>AssurePlus est un service qui fonctionne 24h/24 et 7j/7</h5></p>
</div>
{% endblock content %}

{% block javascript %}{% endblock javascript %}