{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'declaration.css' %}"> 
{% endblock head %}

{% block title %}SOS{% endblock title %}

{% block content %}
<div class="topa">   
    <div class="container p-5">        
        {% include 'partiel/user.html' %}
        <div class="col-12 col-lg-6 p-5">
            <h4>Deuxième conducteur</h4>
            <form method ="POST" enctype="multipart/form-data" hx-encoding="multipart/form-data">
                {% csrf_token %}  
                <p><label>Nom :</label>
                    {% render_field form.nom placeholder="nom" %}</p> 
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Prenom :</label>
                        {% render_field form.prenom placeholder="prenom" %}</p> 
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Email:</label>
                        {% render_field form.nom placeholder="nom@life.com" %}</p>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} 
                        <p><label>Permis:</label>
                        {% render_field form.nbpermis placeholder="numéros permis" %}</p> 
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Date de naissance</label>
                        {% render_field form.age %}</p> 
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Numéros de téléphone</label>
                        {% render_field form.tel %}</p><br>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Adresse</label>
                        {% render_field form.adresse %}</p>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Ville</label>
                        {% render_field form.ville %}</p>                          
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Code Postal</label>
                            {% render_field form.code_postal %}</p><br>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label for="">Marque</label>
                        <select name="marque" hx-trigger="change" hx-get="{% url 'sos' %}" hx-target="#modele">
                            <option value="marque">--marque--</option> 
                            {% for marque in marque_list %}
                                <option value="{{ marque.pk }}">{{marque.nom}}</option>
                            {% endfor %} 
                            </select></p> 
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}       
                        <div id="modele">{% include 'partiel/modele_de_voitur.html' %}</p></div>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Type de voiture</label>
                            {% render_field form.typee %}</p>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Couleur de la voiture</label>
                            {% render_field form.couleur %}</p>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Plaque de la voiture</label>
                            {% render_field form.plaque %}</p>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Assurance</label>
                            {% render_field form.assurance %}</p>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <p><label>Numéros de contrat</label>
                            {% render_field form.nbcontrat %}</p>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        </div>
                    </div> 
                <p class="line"></p>                   
            <div class="row">
                <div class="col-12 p-5">
                <h4>Circonstance</h4>
                <p class="line"></p> 
                {% render_field form.circonstance %}<br>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Nombre de circonstance cochée</label>
                {% render_field form.nbCirconstance %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-5">
                <p class="line"></p> 
                <h4>Dégâts</h4>
                <p><label>Y-a til eu des blessés y compris vous-même?</label>
                {% render_field form.blesse %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Y-a til eu des dégâts externes?</label>
                {% render_field form.degatautre %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} 
                <p class="line"></p>            
            </div>
        </div> 
        <div class="row">            
            <div class="col-12 col-lg-6 p-5">
                <h4>Voiture A</h4>
                <p><label>Partie Endomager</label>
                {% render_field form.degatsA %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Précision de l'impact</label>
                {% render_field form.degatouA %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Dégâts apparents au véhicule A</label></p>
                <p>{% render_field form.degat_vehicule_a %}</p> 
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}           
            </div>
            <div class="col-12 col-lg-6 p-5">
                <h4>Voiture B</h4>
                <p><label>Partie Endomager</label>
                {% render_field form.degatsB %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Précision de l'impact</label>                    
                {% render_field form.degatouB %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Dégâts apparents au véhicule B</label></p>
                <p>{% render_field form.degat_vehicule_b %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}             
            </div>
        </div> 
        <div class="row">
            <div class="col-12 p-5">
                <p class="line"></p> 
                <h4>Date et lieux</h4>
                <p><label>Date</label>
                {% render_field form.date %}</p> 
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}          
                <p><label>Témoins</label>
                {% render_field form.temoin %}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <p><label>Lieux de l'accident</label>
                    {% render_field form.lieu %}</p> 
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <p><label>Adresse</label>
                        {% render_field form.adresse_accident %}</p>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}              
                    </div> 
                </div>
                <p class="line"></p> 
                <div class="row">
                    <h4>Observations</h4>
                    <div class="col-12 col-lg-6 p-5">
                        <h4>Voiture A</h4>        
                        <p><label>Observation de la personne A</label></p>
                        <p>{% render_field form.commentaireA %}</p>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}            
                    </div>
                    <div class="col-12 col-lg-6 p-5">
                        <h4>Voiture B</h4>             
                        <p><label>Observation de la persone B</label></p>
                        <p>{% render_field form.commentaireB %}</p>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}            
                    </div>
                </div>
                <div class="col-12 col-lg-10 p-5">
                    <p><label>Photo de l'accident</label>
                    {% render_field form.photo %}</p><br>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <p><label>Je certifie sur l'honneur que ces informations sont exactes:</label>
                {% render_field form.personne %}{% render_field form.signature %}</p>  
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</div>
            <button hx-swap="outerHTML"  hx-post="{% url 'declaration' %}" hx-target="#page" class="btn" type="submit" value="submit" name="validation">Valider</button> 
        </form>
        </div>
    </div>
</div>
</div>
>
</div>

{% endblock content %}

{% block footer%} {% endblock footer %}
